footer {
    position: relative;
    top: 75px;
    bottom: 0;
    padding: 20px 0 30px 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.banner {
    margin: 0 0 50px 0;
}

.login {
    text-align: center;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 20px;
}

.signup {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
}

.signup h3 {
    text-align: center;
}

input {
    margin: 20px 0 20px 0;
}

.form-check {
    text-align: left;
}

.filter-bar {
    background-color: #f5f5f5;
}

.filter-bar li {
    height: 200px;
    overflow-y: hidden;
    overflow-y: scroll;
}

.filter-category {
    border-style: solid;
    border-color: #6e6e6e;
    border-width: 1px 0 1px 0;
    margin: 10px 2px 10px 2px;
}

.search-result {
    margin: 0 0 0 1em;
    padding: 1em 0 1em 0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: #f5f5f5;
}

@media screen and (min-width: 768px){
    .search-result-left-panel {
        border-right-style: solid;
        border-width: 0.5px;
        border-color: #f5f5f5;
    }
}

@media screen and (max-width: 768px){
    .search-result-left-panel {
        border-bottom-style: solid;
        border-width: 0.5px;
        border-color: #f5f5f5;
    }
}

.search-result-right-panel {
    margin-left: 1em;
}
