<footer>
    <div class="container">
        <nav class="nav flex-column">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="#">Contact Us</a>
        </nav>
        <nav class="nav">
            <a class="nav-link" href="#">Facebook</a>
            <a class="nav-link" href="#">Instagram</a>
            <a class="nav-link" href="#">Twitter</a>
        </nav>
    </div>
</footer>