<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>iApplication</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>
        <!-- Inject the header so we only have to make it once -->
        @header(null)

        <div class="container login">
            <form method="post" action="/login">
                @import helper._
                @CSRF.formField
                <h3>Log In</h3>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>   
            <p class="mt-5 mb-3"><a href="#">Forgot your password?</a></p>
            <p class="mt-5 mb-3 text-muted">Not a member yet? <a href="/signup">Sign up</a></p>
        </div>

        <!-- Inject footer so we only need it once -->
        @footer()

        <!-- Scripts at the end of body to make page loading a bit faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>