<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iApplication</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <!-- Inject the header so we only have to make it once -->
        @header()

        <div class="container">
            <img class="banner" src="@routes.Assets.at("images/welcome_photo.jpg")" width="100%">
            <div class="row">
                <div class="col-lg-4" align="center">
                    <img class="rounded-circle" src="@routes.Assets.at("images/small_placeholder.jpg")" width="170" height="170">
                    <h3>Easy, remote access to online services</h3>
                </div>
                <div class="col-lg-4" align="center">
                    <img class="rounded-circle" src="@routes.Assets.at("images/small_placeholder.jpg")" width="170" height="170">
                    <h3>Online mentorship from experienced advisors</h3>
                </div>
                <div class="col-lg-4" align="center">
                    <img class="rounded-circle" src="@routes.Assets.at("images/small_placeholder.jpg")" width="170" height="170">
                    <h3>Help moving forward in your education</h3>
                </div>
            </div>
        </div>

        <!-- Inject footer so we only need it once -->
        @footer()

        <!-- Scripts at the end of body to make page loading a bit faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>
