@(user: User, user1: User)
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>iApplication</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>
        <!-- Inject the header so we only have to make it once -->
        @header(user1)

        <!-- Content for viewing profile -->
        <div class="container" id="view-profile">
        <div class="justify-content-center row mt-4">
            <div class="col-md-3 search-result-left-panel" align="center">
                <img class="rounded-circle" src="@routes.Assets.at("images/users/"+user.getImage)" width="150" height="150">
                <h6>@user.getFirstName @user.getLastName</h6>
                <p>@user.getEmail</p>
            </div>
            <div class="col-md-8 search-result-right-panel">
                <!-- Only display if user is a mentor -->
                @if(user.getType == 1){
                    <h6>Campus: @user.getCampusAsString</h6> <!-- Pull campus in -->
                    <h6>Academic Standing: @user.getStandingAsString</h6> <!-- Pull academic standing in -->
                    <h6>Department: @user.getDepartmentAsString</h6> <!-- Pull department in -->
                    <h6>Services: (under construction)</h6> <!-- Pull services provided in -->
                }
                <h6>Bio: @user.getBio</h6> <!-- Pull biography in -->
                <button class="btn btn-primary m-4">Send Connection Request</button>
            </div>
        </div>
        </div>
        <!-- Inject footer so we only need it once -->
        @footer()

        <!-- Scripts at the end of body to make page loading a bit faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/profile.js")" type="text/javascript"></script>
    </body>
</html>