@(term: String)
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>iApplication</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>
        <!-- Inject the header so we only have to make it once -->
        @header()

        <div class="container">
            <div class="row no-gutters">
                <div class="col-3 filter-bar mt-4 p-3">
                    <h4>Filter</h4>
                    <form>
                        <h6>Department</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="departmentCheck">
                            <label for="deparmentCheck">Get from DB</label>
                        </div>
                        <h6>Service Offered</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="serviceCheck">
                            <label for="serviceCheck">Get from DB</label>
                        </div>
                        <h6>Experience Level</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="experienceCheck">
                            <label for="experienceCheck">Get from DB</label>
                        </div>
                    </form>
                </div>
                <div class="col-9 results mt-4">
                    <h3>Search Results for '@term'</h3>
                </div>
            </div>
        </div>

        <!-- Inject footer so we only need it once -->
        @footer()

        <!-- Scripts at the end of body to make page loading a bit faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>