<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>iApplication</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>
        <!-- Inject the header so we only have to make it once -->
        @header()

        <div class="container signup">
            <h3>Sign Up</h3>  
            <div class="row">  
                <div class="col-md-6 form-group">
                    <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required autofocus>
                    <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required>
                    <input type="number" id="inputAge" class="form-control" placeholder="Age" min="1" max="120" required>
                    <input type="text" id="schoolLevel" class="form-control" placeholder="School level" required>
                    <p style="text-align: left;">I would like to be a(n):</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="roleOption" id="mentorOption" value="mentorOption" checked>
                        <label class="form-check-label" for="mentorOption">Mentor</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="roleOption" id="applicantOption" value="applicantOption">
                        <label class="form-check-label" for="applicantOption">Applicant</label>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                    <input type="email" id="confirmEmail" class="form-control" placeholder="Confirm your email" required>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm your password" required>
                    
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 50px;">Sign up</button>
                <p class="mt-5 mb-3 text-muted">Already a member? <a href="/login">Log in</a></p>
            </div>   
                
        </div>

        <!-- Inject footer so we only need it once -->
        @footer()

        <!-- Scripts at the end of body to make page loading a bit faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </body>
</html>